*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body{
  background-color: white;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


:root {
  --border-radius:0.3rem;
  --link-primary:rgb(100, 179, 126);
  --heading-primary:rgb(190, 119, 100);
}


nav{
  display: flex;
  gap: 2rem;
  font-size: 1.4rem;
  background: rgb(193, 220, 197);
  padding: 1.6rem;

}

nav > * {
  text-decoration: none;
  color: rgb(54, 96, 54);
  transition: 0.33s;
}
a:active{
    color: rgb(117, 187, 117);
}
a:hover{
    color: rgb(117, 187, 117);
}

section, a{
  text-decoration: none;
  padding: 0.2rem;
  color: var(--link-primary);
}
